<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoAnCuoiKi_TraoDoiDo.Properties.Settings.connStr"
            connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=DoAnTraoDoiDo;Integrated Security=True" />
        <add name="DoAnCuoiKi_TraoDoiDo.Properties.Settings.DoAnTraoDoiDoConnectionString"
            connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=DoAnTraoDoiDo;Integrated Security=True;Encrypt=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>